{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about/about.css') }}">

{% endblock %}

{% block content %}

<div class="margin-vertical">
    <h2>Эльдар</h2>
    <p>Основал компанию EldarEdition, гений, миллиардер, плейбой, филантроп</p>
</div>

<div class="margin-vertical">
    <h2>Далер</h2>
    <p>Никому не известная девочка из села, ставшая настоящим айдолом!</p>
</div>

<div class="margin-vertical">
    <h2>Ханбин</h2>
    <p>Идеален, как ни посмотри</p>
</div>

{% endblock %}
